
.main


.backGridWrapper
    position: fixed
    left: 0%
    top: 0%
    right: 0%
    bottom: auto
    z-index: 1
    overflow: hidden
    width: 100vw
    height: 100vh

    display: flex
    flex-direction: row
    flex-flow: column wrap
    flex-wrap: wrap





.backGrid
    position: static
    width: 16.7vw
    height: 100vh
    background: #494E51
    border-right: 1.5px solid #5b6062
    object-fit: fill
    z-index: 10
